:root {
    --menuColor: #9FAB96;
    --menuBorderColor: #7E8E71;
    --menuButtonColor: #3b4533;
    --menuButtonBorderColor: #2c3426;
    --menuTextColor: #cfdbc5;
    --highlightedColor: #ffdd00;
    --mainFont: 'REM', sans-serif;
}

body, ol, ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: var(--mainFont);
}

.barMenu {
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: var(--menuColor);
    border: 5px solid var(--menuBorderColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuItem {
    position: relative;
    height: 3.5rem;
    min-width: 3.5rem;
    background-color: var(--menuButtonColor);
    border: 5px solid var(--menuButtonBorderColor);
    color: var(--menuTextColor);
    box-sizing: border-box;
    margin: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItems {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: fit-content;
    padding: 0.5rem;
    background-color: var(--menuButtonColor);
    border: 5px solid var(--menuButtonBorderColor);
    color: var(--menuTextColor);
    left: -500%;
    top: calc(100% + 5px);
    transition: left 0.5s ease-in-out;
    z-index: 2;
}

#openclose {
    font-size: 3rem;
}

.itemList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 100%;
    list-style: none;
}

.itemList li {
    cursor: pointer;
}

.navItem {
    cursor: pointer;
}

.navItem:hover, .itemList li:hover {
    color: var(--highlightedColor);
}

.navItem:not(#openclose) {
    margin-block: 0.25rem;
}

main {
    position: relative;
    background-color: rgb(194, 216, 232);
    width: 100%;
    height: calc(100vh - 10rem);
}
